.top-menu {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /*backdrop-filter: blur(10px);*/
}

.booking-section {
  display: grid;
  grid-template-columns: 40% 60%;
}
